@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: #F8F9FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EAEAEA;
}

.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer{
  margin-top: auto;
}